SalesApplication/SalesApplication/Service References/ServiceReference1/decrpyt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="dec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="decResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="decResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="decSoapIn">
    <wsdl:part name="parameters" element="tns:dec" />
  </wsdl:message>
  <wsdl:message name="decSoapOut">
    <wsdl:part name="parameters" element="tns:decResponse" />
  </wsdl:message>
  <wsdl:portType name="decrpytSoap">
    <wsdl:operation name="dec">
      <wsdl:input message="tns:decSoapIn" />
      <wsdl:output message="tns:decSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="decrpytSoap" type="tns:decrpytSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dec">
      <soap:operation soapAction="http://tempuri.org/dec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="decrpytSoap12" type="tns:decrpytSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dec">
      <soap12:operation soapAction="http://tempuri.org/dec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="decrpyt">
    <wsdl:port name="decrpytSoap" binding="tns:decrpytSoap">
      <soap:address location="http://localhost:8722/Service/decrpyt.asmx" />
    </wsdl:port>
    <wsdl:port name="decrpytSoap12" binding="tns:decrpytSoap12">
      <soap12:address location="http://localhost:8722/Service/decrpyt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>