SalesApplication/SalesApplication/Service References/ServiceReference2/getKey.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="constructKey">
        <s:complexType />
      </s:element>
      <s:element name="constructKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="constructKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="constructKeySoapIn">
    <wsdl:part name="parameters" element="tns:constructKey" />
  </wsdl:message>
  <wsdl:message name="constructKeySoapOut">
    <wsdl:part name="parameters" element="tns:constructKeyResponse" />
  </wsdl:message>
  <wsdl:message name="getSoapIn">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="getSoapOut">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:portType name="getKeySoap">
    <wsdl:operation name="constructKey">
      <wsdl:input message="tns:constructKeySoapIn" />
      <wsdl:output message="tns:constructKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input message="tns:getSoapIn" />
      <wsdl:output message="tns:getSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getKeySoap" type="tns:getKeySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="constructKey">
      <soap:operation soapAction="http://tempuri.org/constructKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://tempuri.org/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getKeySoap12" type="tns:getKeySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="constructKey">
      <soap12:operation soapAction="http://tempuri.org/constructKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap12:operation soapAction="http://tempuri.org/get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getKey">
    <wsdl:port name="getKeySoap" binding="tns:getKeySoap">
      <soap:address location="http://localhost:8722/Service/getKey.asmx" />
    </wsdl:port>
    <wsdl:port name="getKeySoap12" binding="tns:getKeySoap12">
      <soap12:address location="http://localhost:8722/Service/getKey.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>