SalesApplication/SalesApplication/Service References/ValidateServiceReference/ValidateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="validate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDictionary" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="validateSoapIn">
    <wsdl:part name="parameters" element="tns:validate" />
  </wsdl:message>
  <wsdl:message name="validateSoapOut">
    <wsdl:part name="parameters" element="tns:validateResponse" />
  </wsdl:message>
  <wsdl:portType name="ValidateServiceSoap">
    <wsdl:operation name="validate">
      <wsdl:input message="tns:validateSoapIn" />
      <wsdl:output message="tns:validateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidateServiceSoap" type="tns:ValidateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validate">
      <soap:operation soapAction="http://tempuri.org/validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidateServiceSoap12" type="tns:ValidateServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validate">
      <soap12:operation soapAction="http://tempuri.org/validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidateService">
    <wsdl:port name="ValidateServiceSoap" binding="tns:ValidateServiceSoap">
      <soap:address location="http://localhost:9112/Service/ValidateService.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidateServiceSoap12" binding="tns:ValidateServiceSoap12">
      <soap12:address location="http://localhost:9112/Service/ValidateService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>